In [21]:
import pandas as pd
import json

In [57]:
df = pd.read_csv("./../../data/car_price_prediction.csv")

In [3]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [26]:
dfc_models = df[["Manufacturer", "Model"]]
dfc_engines = df[["Manufacturer", "Engine volume"]]
print(dfc_models.shape)
print(dfc_engines.shape)

(19237, 2)
(19237, 2)

In [27]:
dfc_models = dfc_models.drop_duplicates()
dfc_engines = dfc_engines.drop_duplicates()
print(dfc_models.shape)
print(dfc_engines.shape)

(1601, 2)
(715, 2)

In [50]:
a = dfc_models["Model"].unique()
len(a)

1590

In [17]:
models = {}
engines = {}
dfc_models = dfc_models.to_dict(orient="records")
for item in dfc_models:
    if item["Manufacturer"] in models:
        models[item["Manufacturer"]].append(item["Model"])
    else:
        models.setdefault(item["Manufacturer"], [item["Model"]])
dfc_engines = dfc_engines.to_dict(orient="records")
for item in dfc_engines:
    if item["Manufacturer"] in engines:
        engines[item["Manufacturer"]].append(item["Engine volume"])
    else:
        engines.setdefault(item["Manufacturer"], [item["Engine volume"]])

In [58]:
car_models_file = "./../../frontend/src/assets/car_models_list.json"
engine_vol_file = "./../../frontend/src/assets/engine_vols_list.json"

In [59]:
with open(car_models_file, "w") as f:
    json.dump(models, f, indent=4)
    
with open(engine_vol_file, "w") as f:
    json.dump(engines, f, indent=4)