In [1]:
import pickle
import pandas as pd

In [2]:
model_path = "../app/model_objects/model.pkl"
model_gbr_path = "../app/model_objects/model_gbr.pkl"
mileage_sclaer_path = "../app/model_objects/mileage_sclaer.pkl"
all_columns_path = "../app/model_objects/all_columns.pkl"

In [3]:
# with open(model_path, 'rb') as f:
#     model = pickle.load(f)
    
with open(model_gbr_path, 'rb') as f:
    model = pickle.load(f)
    
with open(mileage_sclaer_path, 'rb') as f:
    mileage_sclaer = pickle.load(f)

with open(all_columns_path, 'rb') as f:
    all_cols = pickle.load(f)

In [4]:
inp1 = {
    "Mileage": 170000,
    "Manufacturer": "Ford",
    "Model": "Escape", 
    "Prod. year": 2010,
    "Engine volume": 6
    }
inp2 = {
    "Mileage": 40000,
    "Manufacturer": "Toyota",
    "Model": "Camry", 
    "Prod. year": 2010, 
    "Engine volume": 6
    }
data = [inp1]

In [5]:
df_test = pd.DataFrame(data)
df_test

   Mileage Manufacturer   Model  Prod. year  Engine volume
0   170000         Ford  Escape        2010              6

In [6]:
df_test['Manufacturer'] = df_test['Manufacturer'].astype('category')
df_test['Model'] = df_test['Model'].astype('category')
df_test['Engine volume'] = df_test['Engine volume'].astype('category')

In [7]:
X = df_test["Mileage"].values.reshape(-1, 1)
scaledX = mileage_sclaer.transform(X)
print(scaledX)

[[0.48561716]]

In [8]:
df_test["Mileage"] = scaledX

In [9]:
categorical_columns = ["Manufacturer" ,"Model", "Engine volume"]
df_encoded = pd.get_dummies(df_test, columns=categorical_columns)
df_encoded.head()

    Mileage  Prod. year  Manufacturer_Ford  Model_Escape  Engine volume_6
0  0.485617        2010                  1             1                1

In [10]:
record = df_encoded.to_dict(orient="records")[0]
features = {} # df_test.to_dict(orient="records")[0]
# del features["Manufacturer"]
# del features["Model"]
# print(features)
for col in all_cols:
    if col not in df_encoded.columns:
        features.update({col: 0})
    else:
        features.update({col: record[col]})
df_test = pd.Series(features)
df_test.shape

(1646,)

In [11]:
X_test = df_test.values.reshape(1, -1)
pred = model.predict(X_test)
print(pred)

[14613.41706497]

/Users/mmohammadi1/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

In [12]:
df_test

Prod. year                 2010.000000
Mileage                       0.485617
Manufacturer_ACURA            0.000000
Manufacturer_ALFA ROMEO       0.000000
Manufacturer_AUDI             0.000000
                              ...
Engine volume_6               1.000000
Engine volume_6.2             0.000000
Engine volume_6.3             0.000000
Engine volume_6.4             0.000000
Engine volume_7.3             0.000000
Length: 1646, dtype: float64